body {
    background-image: url(imagens/fundo5.jpeg);
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
  }
  
  header {
  min-height: 100px;
  }
  
  #logo-index{
    width: 50px;
    height: 50px;
    position: relative;
  }
  .titulo-contato{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .main-contato {
    min-width: 200px;
    width: 60vw;
    min-height: 100%;
    margin:auto;
    margin-top: 39px;
    margin-bottom: 20px;
    background-color:rgb(251, 251, 246);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699) ;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    scroll-behavior: smooth ;
  }
  
  .man-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-left: 50px;
    margin-top: 30px;
    text-align: center;
  }
  .social a{
    text-decoration: none;
    color: black;
  }
  .social a:hover{
    color: blue;
  }
  .tamanho-fonte{
    font-size: 5px;
  }
  .row {
    margin-left: 70px;
  }
  .tamanho-titulo {
    padding-bottom: 50px;
    padding-top: 0px;
    margin:0%;
    
  }
  .card-text{
    font-size: 12px;
  }
  .card-title{
    font-size: 15px;
  }
  p {
    margin-top: 2px;
    margin-left: 2px;
  }
  
  .card-body{
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .linkedin2-logo {
    width: 30%;
  }
  
  .github2-logo {
    width: 30%;
  }
  #row{
    text-align: center;
    margin-top: 30px;
    margin-top: 30px;
    
  }
  .row2{
    text-align: center;
    margin-top: 30px;
    margin-top: 30px;
  }
  
  .h3{
    margin-top: 50px;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: auto;
    margin: auto;
    width: max-content; 
  }
  .linkedin-logo{
    width: 25px;
  }
  
  .form-login {
    width: 30%;
    margin: auto auto;
  }
  
  /* .paragrafo-footer {
    display: inline;
    text-align: end;
    background-color: rgb(3, 8, 83);
    
  } */
  
  .span-footer {
    display: inline;
    color: white;
    text-align: start;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    
  }
  
  .media {
    display: inline;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    
  }
  
  .icons ion-icon{
    width: 25px;
    height: 25px;
    color:#130f0f 
  }
  
  .icons .ion-icon{
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px; 
    height: 50px;
   }
  
   .nome-footer{
    color: white;
    padding-left: 10px;
    font-size: 20px;
   }
  