body {
    background-color:rgb(3, 8, 83);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
   min-height: 150px;
}

main {
    min-width: 300px;
    width: 80vw;
    min-height: 100%;
    margin: auto;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699) ;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    scroll-behavior: smooth ;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

p {
    margin-top: 30px;
    margin-left: 40px;
}
.conteudo-principal {
    padding-top: 50px;
}
#container-trasition {
    display: inline-flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    width: 100%;
}


/*---------------- barra de pesquisa------------------*/
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:50px;
    width:70%;
    height:35px;
    border:none;
    padding-right: 2%;
    padding-top: 1%;
    margin-top: 30px;
    box-shadow: 1px 3px 2px 0px rgb(8 8 8 / 52%);
    margin-top: 40px;
  }
  
  #txtBusca{
    background-color:transparent;
    padding-left: 2%;
    font-size:18px;
    height: 70%;
    width: 75%;
    border-radius: 15px 15px 15px 15px;
    margin-left: 3px;
    outline: none;
    box-shadow: none;
    border: none;
  }
  
  #lupa-busca {
    display: block;
    height: 70%; 
    float: right;
    cursor: pointer;
  }
/*---------------- fim barra de pesquisa------------------*/

#logo-index{
    width: 50px;
    height: 50px;
    position: relative;
}
