body {
    background-color:rgb(3, 8, 83);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
   min-height: 150px;
}
main {
    min-width: 300px;
    width: 80vw;
    min-height: 100%;
    margin: auto;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699) ;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    scroll-behavior: smooth ;
}

.h1-login {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 28px;
    margin-top: 50px;
}

.form-login{
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 20%;
    width: 40%;
}

form a:hover {
    text-decoration: none;
}

#btn-enviar{
    margin-top: 10px;
}
