
body {
    background-color:rgb(3, 8, 83);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
   min-height: 150px;  /*por que min de altura?*/
}

.main-recup-senha {
    min-width: 300px;
    width: 80vw;
    min-height: 100%;
    margin: auto;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699) ;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    scroll-behavior: smooth ;
}

.h1-recup-senha {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    font-size: 28px;
    margin-top: 50px;
}

/* .p-recup-senha {
    margin-top: 30px;
    margin-left: 40px;
} */

#form_contato{
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 20%;
    width: 40%;
}

/* #form_contato{
    margin-top: 40px;
    margin-left: 40%;
    
    
} */