body {
    background-color:rgb(231, 232, 238);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    
}

header {
    min-height: 150px;
 }


main {
    min-width: 300px;
    width: 80vw;
    min-height: 100%;
    margin: auto;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699) ;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    scroll-behavior: smooth ;
    
}
/*--- fim layout da pág---*/